.singlePokemonWrapper {
	display: flex;
	justify-content: center;
}


.singlePokemonCard {
	margin: 3rem;
	width: 50rem;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.goBackIcon {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	text-align: left ;
}

.singlePokemonName {
	font-family: 'Akshar', sans-serif;
	color: white;
	padding-top: 1rem;
	font-size: 2.5rem;
	margin-top: 0;
    margin-bottom: 0;
}

.singlePokemonJapaneseName {
	font-family: 'Akshar', sans-serif;
	color: white;
	margin-bottom: 0;
	margin-top: 0.3rem;
}

.singlePokemonImgButton {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	justify-content: space-around;
	margin-left: 5rem;
	margin-right: 5rem;
}

.singlePokemonImg {
	width: 20rem;
	height: 20rem;
}


/* catchPokemonButton css style */
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.catchPokemonButton.css-wnpvqa-MuiButtonBase-root-MuiButton-root {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
}

/* catchPokemonButton css style for deploy */
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.catchPokemonButton.css-suuhx0 {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
}

/* releasePokemonButton css style */
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.releasePokemonButton.css-wnpvqa-MuiButtonBase-root-MuiButton-root {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
}

/* releasePokemonButton css style for deploy*/
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.releasePokemonButton.css-suuhx0 {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
}


.singlePokemonInformationTab {
	border-radius: 3rem 3rem 0 0;
	background-color: white;
}

/* Tab css title style */
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
	font-family: 'Roboto Flex', sans-serif;
}

/* Tab css title style for deploy*/
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.css-1q2h7u5 {
	font-family: 'Roboto Flex', sans-serif;
}




/* Tab css title style */
.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
	font-family: 'Roboto Flex', sans-serif;
}



.MuiTabs-scroller {
	margin-top: 1rem;
}


/* Tab About css style */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-iocxey-MuiPaper-root {
	text-align: left;
	box-shadow: none;
}

/* Tab About css style for deploy */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-w7ou7b {
	text-align: left;
	box-shadow: none;
}

.space {
	margin-right: 0.5rem;
}

.singlepokemonDescription {
	font-size: 1.5rem;
}

.evolutionImage {
	width: 10rem;
	height: 10rem;
	cursor: pointer;
}


/* Modal CSS ↓*/

.modalTitle {
	color: white;
	font-size: 1.8rem;
}

/* modalBackButton css style */
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.modalBackButton.css-wnpvqa-MuiButtonBase-root-MuiButton-root {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
	padding: 0.8rem;
	margin-top: 1rem;
}

/* modalBackButton css style for deploy */
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.modalBackButton.css-suuhx0 {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
	padding: 0.8rem;
	margin-top: 1rem;
}

/* modalToCollectedButton css style  */
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.modalToCollectedtButton.css-wnpvqa-MuiButtonBase-root-MuiButton-root {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
	padding: 0.8rem;
	margin-top: 1rem;
}

/* modalToCollectedButton css style for deploy */
.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary.MuiButton-sizeMedium.MuiButton-outlinedSizeMedium.MuiButtonBase-root.modalBackButton.css-suuhx0 {
	border-radius: 1.6rem;
	color: white;
    border-color: white;
	padding: 0.8rem;
	margin-top: 1rem;
}

/* Modal Popup */

.overlay-base {
	padding: 1rem;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
	transition-property: background-color, opacity;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	outline: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .overlay-after {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
  }
  
  .overlay-before {
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
  }
  
  .content-base {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	margin: 0 auto;
	border: 0;
	outline: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0%;
	width: 0%;
	background-color: transparent;
	transition-property: background-color, width, height;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
  }
  
  .content-after-run-away {
	width: 70%;
	height: 40%;
	background: -webkit-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%); 
	background:    -moz-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
	background:     -ms-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
	background:      -o-linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
	background:         linear-gradient(90deg, #EC6F66 10%, #F3A183 90%);
	flex-direction: column;
  }
  
  .content-before {
	width: 0%;
	height: 0%;
	background-color: transparent;
  }

  .content-after {
	width: 70%;
	height: 40%;
	background: -webkit-linear-gradient(90deg, #8e66ec 10%, #927ee9 90%); 
	background:    -moz-linear-gradient(90deg, #8e66ec 10%, #927ee9 90%);
	background:     -ms-linear-gradient(90deg, #8e66ec 10%, #927ee9 90%);
	background:      -o-linear-gradient(90deg, #8e66ec 10%, #927ee9 90%);
	background:         linear-gradient(90deg, #8e66ec 10%, #927ee9 90%);
	flex-direction: column;
  }