.bg-cover{
	position: fixed; /* ブラウザの定位置に固定 */
	background: rgba(0, 0, 0, .7); /* 背景色を半透明の黒色に */
	width: 100%; /* 要素の横幅を画面全体に */
	height: 100%; /* 要素の高さを画面全体に */
	top: 0; /* 要素の固定位置をブラウザ最上部に合わせる */
	left: 0; /* 要素の固定位置をブラウザ左側に合わせる */
	z-index: 1000; /* 要素をコンテンツより前面に（要調整） */
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-direction: column;

}



@keyframes rotate-z{
	0%{transform:rotateZ(0deg);}
	100%{transform:rotateZ(360deg);}
}

@-webkit-keyframes rotate-x{
	0%{-webkit-transform:rotateZ(0deg);}
	100%{-webkit-transform:rotateZ(360deg);}
}

.pokeball{
	animation:rotate-z 2s infinite;
	-webkit-animation:rotate-z 2s infinite;
	width: 10%;
	height: auto;
}