.pokemonListWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.pokemonList {
	border: solid 1px black;
	padding: 1em;
	margin: 2em;
	/* display: flex;
	flex-direction: column; */
}

.pokemonListImg {
	width: 10em;
	height: auto;
	margin-top: 1em;
}

.pokemonListName {
	font-size: 2em;
}